name: Build Artifacts

on:
  workflow_call:
    inputs:
      platform:
        required: true
        type: string
      working-directory:
        required: true
        type: string

jobs:
  build:
    runs-on: ${{ inputs.platform == 'ios' && 'macos-latest' || 'ubuntu-latest' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Flutter
        uses: ./.github/actions/setup
      - name: Set up JDK 17
        if: ${{ inputs.platform == 'android' }}
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Select XCode Version
        if: ${{ inputs.platform == 'ios' }}
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Download iOS Platform
        if: ${{ inputs.platform == 'ios' }}
        run: |
          xcodebuild -downloadPlatform iOS
      - name: Setup Android SDK
        if: ${{ inputs.platform == 'android' }}
        uses: android-actions/setup-android@v3
      - name: Build Android AAB
        if: ${{ inputs.platform == 'android' }}
        working-directory: ${{ inputs.working-directory }}/android
        run: |
          flutter build appbundle --release
      - name: Build iOS
        if: ${{ inputs.platform == 'ios' }}
        working-directory: ${{ inputs.working-directory }}/ios
        run: |
          flutter build ios --release --no-codesign
